body{
    margin: 0;
    font-family: 'Arial Black', sans-serif;
  }
  .header{
    width: 100%;
    height: 400px;
    background: url("../img/Header1.jpg") no-repeat;
  }
  .header a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 20px 20px 20px 20px;
    opacity: .7;
  }
  .navigation li {
    display: inline-block;
    padding: 20px 20px 20px 20px;
  }
  .navigation {
    padding-top: 2em;
    padding-left: 3em;
    margin: 0 0 0 0;
  }

  .header a:hover{
    background: #000;
    transition: 0.5s;
    opacity: 1.0;
  }
  .header h1{
    display: flex;
    justify-content: center;
color: #fff;
    align-items: center;
  }
  footer{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    width: 100%;
  }
  
  footer a{
    text-decoration: none;
    color:white;
  }
  
  .topFooter{
    margin-top: 3rem ;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    width: 90%;
    height: 30%;
  }
  
  .topFooter .contacts{
    width: 20%;
  }
  
  .topFooter h4,.topFooter p{
    font-size: 1.5rem;
    margin:0 0 1rem 0;
  }
  
  .topFooter h4 a, .topFooter p a, .bottomFooter a{
    transition:0.5s;
  }
  
  .topFooter h4 a:hover,.topFooter p a:hover, .bottomFooter p>a:hover{
    color:green;
  }
  
  .topFooter>p{
    width: 25%;
    margin: 0;
    color:white;
  }
  
  .lineFooter{
    display: flex;
    content: '';
    width: 90%;
    height: 1px;
    background-color:white;
    vertical-align: middle;
  }
  
  .bottomFooter{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .bottomFooter p{
    margin: 0;
    color:white;
    font-size: 1.5rem;
  }
  
  .topFooter .social{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .social svg{
    width: 4rem;
    height: 4rem;
    opacity: 0.4;
  }
  
  
  .social svg:hover{
    opacity: 1;
  }
  
  .stages{
    display: none;
    color: #000;
  }
  #btn_stage{
    width: 200px;
    height: 50px;
    margin: 20px;
  }
  .img{
    width: 70%;
    /* height: 77%; */
    background: #fff;
  }
  .stages_ul{
    margin-left: 3px;
  }

  .infa{
    margin-left: 20px;
  }